*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import '../scss/bas/h1';
@import '../scss/bas/body';
@import '../scss/componentes/footer';
@import '../scss/componentes/form';
@import '../scss/componentes/label';
@import '../scss/componentes/input';
@import '../scss/componentes/main';
@import '../scss/bas/h2';
@import '../scss/bas/h3';
@import '../scss/componentes/p';